
.course-wrapper .course-content .vert-mod .vert {
	border-bottom: none !important;
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}

.problems-wrapper .problem-header {
	display: none;
}

.problems-wrapper .problem-progress {
	display: none !important;
}

.course-wrapper .course-content .xblock.xblock-student_view-vertical, .course-wrapper .course-content .xblock.xblock-public_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-student_view-vertical, .course-wrapper .courseware-results-wrapper .xblock.xblock-public_view-vertical {
    max-width: 800px !important;
}

.course-wrapper .submit {
	background-color: #dc0000 !important;
	border-color: white !important;
	box-sizing: border-box !important;
    border-radius: 10px !important;
    padding: 8px 20px !important;
}

.btn-primary:disabled, .btn-brand:disabled, .btn-primary.is-disabled, .is-disabled.btn-brand {
	background-color: #f2f3f3 !important;
}

.xmodule_display.xmodule_CapaModule div.problem div p.answer::before {
	/*display: inline!important;*/
    content: "Respuesta: "!important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message {
	font-size: 0px!important;
	color: transparent!important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message:after {
	content: "Las respuestas se muestran en el ejercicio";
	color: #5e5e5e!important;
	font-size:16px!important;
}

button.save.problem-action-btn {
	display: none!important;
}

/* encuesta inicial */

.tablaenc .field input {
    left: 38%!important;
}

.tablaenc td fieldset{
  	padding-top:0%;
}

/* Drag and Drop */

.course-wrapper  .xblock--drag-and-drop {
	margin: auto!important;
}

.course-wrapper  .xblock--drag-and-drop .problem-progress{
	display:none!important;
}
  
/*.course-wrapper  .xblock--drag-and-drop .show-answer-button{
	display:none!important;
}*/

.course-wrapper  .xblock--drag-and-drop .feedback-content .title1{
	display:none!important;
}
  
.course-wrapper  .xblock--drag-and-drop .drag-container .option{
	margin: 0px!important;
	background-color: transparent!important;
}

.course-wrapper  .xblock--drag-and-drop .drag-container {
	background-color: transparent!important;
}

.course-wrapper  .xblock--drag-and-drop .item-bank {
	border:none!important;
}

.course-wrapper  .xblock--drag-and-drop .keyboard-help-button {
	display: none!important;
}

.course-wrapper  .xblock--drag-and-drop .btn-brand:disabled, .xblock--drag-and-drop .btn-brand.is-disabled {
	background: #f2f3f3!important;
}

.course-wrapper .xblock--drag-and-drop .btn-brand {
	background-color: #E71F24 !important;
	border: 0px !important;
	box-sizing: border-box !important;
	border-radius: 10px !important;
	padding: 8px 20px !important;
}

.course-wrapper .xblock--drag-and-drop .popup.popup-incorrect {
	display:none!important;
}