@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Regular';
  src: url('../fonts/Avenir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/Avenir-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('../fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sassoon Sans Std';
  src: url('../fonts/SassoonSansStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sassoon Sans Std Bold';
  src: url('../fonts/SassoonSansStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.MathJax_Display{
  pointer-events: none;
}

.course-wrapper .course-content .vert-mod .vert {
  border-bottom: none !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.problems-wrapper .problem-header {
  display: none;
}

.problems-wrapper .problem-progress {
  display: none !important;
}

.course-wrapper .course-content .xblock.xblock-student_view-vertical,
.course-wrapper .course-content .xblock.xblock-public_view-vertical,
.course-wrapper .courseware-results-wrapper .xblock.xblock-student_view-vertical,
.course-wrapper .courseware-results-wrapper .xblock.xblock-public_view-vertical {
  max-width: 800px !important;
}

.course-wrapper .submit {
  background-color: #dc0000 !important;
  border-color: white !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  padding: 8px 20px !important;
}

.btn-primary:disabled,
.btn-brand:disabled,
.btn-primary.is-disabled,
.is-disabled.btn-brand {
  background-color: #f2f3f3 !important;
}

.xmodule_display.xmodule_CapaModule div.problem div p.answer::before {
  /*display: inline!important;*/
  content: "Respuesta: " !important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message {
  font-size: 0px !important;
  color: transparent !important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message:after {
  content: "Las respuestas se muestran en el ejercicio";
  color: #5e5e5e !important;
  font-size: 16px !important;
}

button.save.problem-action-btn {
  display: none !important;
}

/* encuesta inicial */

.tablaenc .field input {
  left: 38% !important;
}

.tablaenc td fieldset {
  padding-top: 0%;
}

/* Drag and Drop */

.course-wrapper .xblock--drag-and-drop {
  margin: auto !important;
}

.course-wrapper .xblock--drag-and-drop .problem-progress {
  display: none !important;
}

/*.course-wrapper  .xblock--drag-and-drop .show-answer-button{
	display:none!important;
}*/

.course-wrapper .xblock--drag-and-drop .feedback-content .title1 {
  display: none !important;
}

.course-wrapper .xblock--drag-and-drop .drag-container .option {
  margin: 0px !important;
  background-color: transparent !important;
}

.course-wrapper .xblock--drag-and-drop .drag-container {
  background-color: transparent !important;
}

.course-wrapper .xblock--drag-and-drop .item-bank {
  border: none !important;
}

.course-wrapper .xblock--drag-and-drop .keyboard-help-button {
  display: none !important;
}

.course-wrapper .xblock--drag-and-drop .btn-brand:disabled,
.xblock--drag-and-drop .btn-brand.is-disabled {
  background: #f2f3f3 !important;
}

.course-wrapper .xblock--drag-and-drop .btn-brand {
  background-color: #E71F24 !important;
  border: 0px !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  padding: 8px 20px !important;
}

.course-wrapper .xblock--drag-and-drop .popup.popup-incorrect {
  display: none !important;
}

//Fracciones
.respfrac {
  left: 100px;
  z-index: 99;
  position: absolute;
  width: 30px;
  height: 24px;
  top: 3px;
  background-repeat: no-repeat;
}

.fraction {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 10px;
  font-size: 14px;
}

.fraction>span {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.fraction span.fdn {}

.fraction span.bar {
  background-color: #737373;
  height: 1px;
  width: 100%;
  margin: 1px;
  margin-bottom: 2px;
  overflow: hidden;
}

.fraction_grande {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
}

.fraction_grande>span {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 24px;
  font-weight: bold;
}

.fraction_grande span.fdn {}

.fraction_grande span.bar {
  background-color: #737373;
  height: 1px;
  width: 100%;
  margin: 1px;
  margin-bottom: 2px;
  overflow: hidden;
}


//banners practica y otros
/* Estilos generales para el banner */
.sysbanner {
  position: relative;
  display: flex;
  align-items: center;
}


//VERDE
/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.verde.open .icon-box {
  width: 200px;
  height: 60px;
  background-color: #009760;
  background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/banner_symbolbrain.png);
  background-repeat: no-repeat;
  background-size: auto 65%;
  background-position: 20px center;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.verde.open hr {
  flex-grow: 1;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 50px solid #dfdfdf;
}

/* Estilos específicos para el color "verde" en el caso "close" */
.sysbanner.verde.finish hr {
  flex-grow: 1;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 18px solid #009760;
}


//NARANJA
/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.naranjo.open .icon-box {
  width: 300px;
  height: 60px;
  background-color: #fa9702e5;
  background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/banner_symbolbrain.png);
  background-repeat: no-repeat;
  background-size: auto 65%;
  background-position: 20px center;
  padding-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.naranjo.open hr {
  flex-grow: 1;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 50px solid #dfdfdf;
}

/* Estilos específicos para el color "verde" en el caso "close" */
.sysbanner.naranjo.finish hr {
  flex-grow: 1;
  border-top: 0px solid transparent;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 18px solid #fa9702e5;
}


//banner sumo primero
.sprbanner {
  position: relative;
  display: flex;
  align-items: center;
}

.sprbanner hr {
  background-color: #a9edd4;
  flex-grow: 1;
  border-top: 28px solid #a9edd4;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 28px solid #a9edd4;
  border-radius: 16px;
}

.sprbanner .banner-text {
  font-family: "Sassoon Sans Std Bold";
  font-size: 22px;
    font-weight: bold;
    color: white;
    margin-left: 85px;
    position: absolute;
   -webkit-text-stroke-width: 1.64px;
  -webkit-text-stroke-color: #51b18f;
}


.sprbanner .icon-box {
  width: 85px;
  height: 85px;
  background-color: #51b18f;
  background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/banner_symbol_libreta.png?=90);
  background-repeat: no-repeat;
  background-size: auto 65%;
  background-position: 20px center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: absolute;
  z-index: 2;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}


////Tabla Suma y Sigue
.tableSYS {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  min-width: 350px !important;
}

.tableSYS tr th,
.tableSYS tr td {
  border-right: 2px solid #bbb !important;
  border-bottom: 1px solid #bbb !important;
  border-top: 1px solid #bbb !important;
  padding: 12px !important;
}

.tableSYS tr th:first-child,
.tableSYS tr td:first-child {
  border-left: 2px solid #bbb !important;
}


.tableSYS thead tr:first-child th,
.tableSYS thead tr:first-child td {
  border-top: 2px solid #bbb !important;
}

.tableSYS tr:last-child th,
.tableSYS tr:last-child td {
  border-bottom: 2px solid #bbb !important;
}

/*Bordes redondeados superiores*/

.tableSYS thead tr:first-child th:first-child,
.tableSYS thead tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}

.tableSYS thead tr:first-child th:last-child,
.tableSYS thead tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}

/*Bordes redondeados Inferiores*/

.tableSYS tbody tr:last-child th:first-child,
.tableSYS tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px !important;
}

.tableSYS tbody tr:last-child th:last-child,
.tableSYS tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px !important;
}

/* Caso que no exista encabezado */
.tableSYS.nothead tr:first-child th,
.tableSYS.nothead tr:first-child td {
  border-top: 2px solid #bbb !important;
}
.tableSYS.nothead tbody tr:first-child th:first-child,
.tableSYS.nothead tbody tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}
.tableSYS.nothead tbody tr:first-child th:last-child,
.tableSYS.nothead tbody tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}

////Tabla Sumo Primero

.tableSPrime {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  min-width: 350px !important;
  position: relative;
}

.tableSPrime-wrapper {
  border: 3.5px solid #f58220 !important; 
  z-index: 1;
  border-radius: 16px; /* Esquinas redondeadas del borde */
  padding: 0; /* Sin padding adicional */
}

.tableSPrime tr th,
.tableSPrime tr td {
  border-right: 2px solid #bbb !important; 
  border-bottom: 1px solid #bbb !important;
  border-top: 2px solid #bbb !important;
  padding: 12px !important;
  text-align: center; /* Centra el contenido */
}

.tableSPrime tr th:first-child {
  border-left: 3.5px solid #0281cc !important;
  border-color: #0281cc !important;
}

.tableSPrime tr td:first-child {
  border-left: 3.5px solid #f58220 !important;
  z-index: 1;
}

.tableSPrime thead tr:first-child th,
.tableSPrime thead tr:first-child td {
  border-top: 2px solid #0281cc !important;
  background-color: #0281cc !important;
  color: white !important; /* El texto del encabezado en blanco */
  font-weight: bold !important; /* Texto en negrita */
}
  
.tableSPrime tr th:last-child {
  border-right: 3.5px solid #0281cc !important;
}

  
.tableSPrime tr td:last-child {
  border-right: 3.5px solid #f58220 !important;
  z-index: 1;
}


.tableSPrime tr:last-child th {
  border-bottom: 3.5px solid #0281cc !important;
}
.tableSPrime tr:last-child td {
  border-bottom: 3.5px solid #f58220 !important;
  z-index: 1;
}

/* Bordes redondeados superiores */
.tableSPrime thead tr:first-child th:first-child,
.tableSPrime thead tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}

.tableSPrime thead tr:first-child th:last-child,
.tableSPrime thead tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}

/* borde superior para primera fila del body no visible*/
.tableSPrime tbody tr:first-child td {
  border-top: 0px !important;
}

/* Bordes redondeados inferiores */
.tableSPrime tbody tr:last-child th:first-child,
.tableSPrime tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px !important;
}

.tableSPrime tbody tr:last-child th:last-child,
.tableSPrime tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px !important;
}

/* Caso que no exista encabezado */
.tableSPrime.nothead tr:first-child th,
.tableSPrime.nothead tr:first-child td {
  border-top: 3.5px solid #f58220 !important;
  z-index: 1;
}

.tableSPrime.nothead tbody tr:first-child th:first-child,
.tableSPrime.nothead tbody tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}

.tableSPrime.nothead tbody tr:first-child th:last-child,
.tableSPrime.nothead tbody tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}


//Recapitulemos
.TitleRecapi:before {
  content: "";
  display: block;
  width: 12px;
  height: 62px;
  float: left;
  margin: 0 6px 0 0;


}

.TitleRecapi {
  font-family: 'Open Sans';
  height: 64px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: middle;
  display: ruby-base-container;
}

.TitleRecapi.media {
  color: #612871;
}

.TitleRecapi.media:before {
  background-color: #612871;
}


.TitleRecapi.basica {
  color: #dc0000;
}

.TitleRecapi.basica:before {
  background-color: #dc0000;
}

//Banner titulo Sumo primero

.banner-sprime-title {
	display: flex;
  align-items: center;
  background-color: #ea91bd;
  border-radius: 20px;
  padding: 16px 24px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.banner-sprime-animal {
  width: 125px;
  height: auto;
  position: absolute;
  bottom: 0px;
}

.banner-sprime-text {
  font-family: "Sassoon Sans Std Bold";
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding-left: 114px;
  padding-right: 32px;
  -webkit-text-stroke-width: 1.64px;
  -webkit-text-stroke-color: #dc4b91;
}

.dashedline-SPrime {
  border: none;
  border-top: 4px dotted; 
  width: 50%; 
  margin: 0 auto;
  height: 0;
  border-color: #871980!important;
}
//Recuadros

.recuadroSYS {
  background-color: #f0f0f1;
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 30px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.recuadroSYS.celeste {
  background-color: #e4e9ff;
}

.recuadroSYS.rosado {
  background-color: #f7e5eb;
}

.recuadroSYS.verde {
  background-color: #8df0ca;
}

.recuadroSPrime {
  border: 3.5px dotted #cccccc;
  width: fit-content;
  margin: auto;
  padding: 30px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.sprime.responde {
  background-image: url(https://static.sumaysigue.uchile.cl/Sumo1ro/assets/img/hormiga.png);
  width: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 132px;
  margin-bottom: 50px;
}

//Didactica
  /*texto revisemos el caso, como seguimos, etc */
  p.title-como-seguimos{
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #E71F23;
    padding: 5px 0 5px 20px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 25px!important;
    color: #636f6f !important;
}
