<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from lms.djangoapps.courseware.courses import get_course_about_section
from django.conf import settings
from six import text_type
from common.djangoapps.edxmako.shortcuts import marketing_link
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
from openedx.core.lib.courses import course_image_url

from six import string_types
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>
<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if (xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard') | n, js_escaped_string}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        location.href = "/login?next=/courses/${course.id | u}/about";
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, js_escaped_string}")
        ).css("display", "block");
      }
    });

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">${course.display_name_with_default}</%block>

<!-- Courses Section -->
<section class="course-info" id="course">
  <%block name="course_about_header">
  <div class="container">
    <h2 class="text-center wow animated fadeInDown">Detalle del Curso</h2>
    <hr class="divider my-4">
    <div class="row wow animated zoomIn text-justify preview">
      <div class="col-12"><h3 class="text-primary">${course.display_name_with_default}</h3></div>
      <div class="col-12 col-lg-6 my-4 px-4">
        <img src="${course_image_urls['large']}" class="card-img-top" alt="...">
        %if user.is_authenticated and registered:
          %if show_courseware_link:
            <a href="${course_target}" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-lg btn-block my-3">
          %endif
          ${_("You are enrolled in this course")}
          %if show_courseware_link:
            ${_("View Course")}</button></a>
          %endif
        % elif is_course_full:
          <button type="button" class="btn btn-primary btn-lg btn-block my-3" disabled>
              ${_("Course is full")}
          </button>
        % elif invitation_only and not can_enroll:
          <button type="button" class="btn btn-primary btn-lg btn-block my-3" disabled>${_("Enrollment in this course is by invitation only")}</button>
        ## Shib courses need the enrollment button to be displayed even when can_enroll is False,
        ## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
        ## so that they can register and become a real user that can enroll.
        % elif not is_shib_course and not can_enroll:
          <button type="button" class="btn btn-primary btn-lg btn-block my-3" disabled>${_("Enrollment is Closed")}</button>
        %elif allow_anonymous:
          %if show_courseware_link:
          <a href="${course_target}" style="text-decoration: none;"><button type="button" class="btn btn-primary btn-lg btn-block my-3">
            ${_("View Course")}
          </button></a>
          %endif
        %else:
          <% 
            if ecommerce_checkout:
              reg_href = ecommerce_checkout_link
            else:
              reg_href="#"
            if single_paid_mode:
              href_class = "add-to-cart"
            else:
              href_class = "register"
          %>
          <a href="${reg_href}" style="text-decoration: none;">
            <button type="button" class="btn btn-primary btn-lg btn-block my-3 register">
              ${_("Enroll in {course_name}").format(course_name=course.display_number_with_default)}
            </button>
          </a>
          <div id="register_error"></div>
        %endif
      </div>
      <div class="col-12 col-lg-6 my-4 px-4 text-justify" id="about-section">
        <%
          course_start_date = 'None'
          if not course.start_date_is_still_default:
            course_start_date = course.advertised_start or course.start
            if not isinstance(course_start_date, string_types):
              course_start_date = course_start_date.strftime('%Y-%m-%dT%H:%M:%S%z')
            endif
          endif
          course_end_date = 'None'
          if course.end:
            course_end_date = course.end
            if not isinstance(course_end_date, string_types):
              course_end_date = course_end_date.strftime('%Y-%m-%dT%H:%M:%S%z')
            endif
          endif
        %>
        <div class="info-text mt-4">
          <p class="detail"><strong>Código del Curso</strong> <span style="text-transform: uppercase;">${course.display_number_with_default | h}</span></p>
          <p class="detail"><strong>Inicio de Clases</strong> <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_start_date}" data-language="${LANGUAGE_CODE}"></span></p>
          <p class="detail"><strong>Término de Clases</strong> <span class="important-dates-item-text end-date localized_datetime" data-format="shortDate" data-datetime="${course_end_date}" data-language="${LANGUAGE_CODE}"></span></p>
        </div>
      </div>
      <script>
        $(function() {
          $('.about').prependTo("#about-section");
        });
      </script>
      <div class="col-12 text-justify" ng-app="CourseInfoApp">
          <%block name="course_about_details">
          ${clean_dangerous_html(get_course_about_section(request, course, "overview"))}
          </%block>
      </div>

    </div>
  </div>
  </%block>
</section>


## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${pgettext("self","Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${pgettext('self','enroll')}">
      </div>
    </form>
  </div>
%endif
<%include file="../video_modal.html" />

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>