# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
    <!-- Help Section -->
    <section class="page-section" id="help">
        <h2 class="text-center wow animated fadeInDown">Ayuda</h2>
        <hr class="divider my-4">
        <div class="row">
            <div id="faq" class="col-lg-6 mh-100 py-4 px-5 wow animated fadeInLeft">
                <div class="help-container">
                    <h4 class="text-primary mb-4">Preguntas Frecuentes</h4>
                    <div class="card">                                        
                        <button class="accordion text-white card-header">
                            <span class="accordion-text">• ¿Qué cursos encuentro en EOL?</span>
                            <i class="accordion-icon mt-1"></i>
                        </button>
                        <div class="panel card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="card">
                        <button class="accordion text-white card-header">
                            <span class="accordion-text">• ¿Quién puede tomar cursos en la plataforma EOL?</span>
                            <i class="accordion-icon mt-1"></i>
                        </button>
                        <div class="panel card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="card">
                        <button class="accordion text-white card-header">
                            <span class="accordion-text">• ¿Cuánto cuestan los cursos?</span>
                            <i class="accordion-icon mt-1"></i>
                        </button>
                        <div class="panel card-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>

                    <script>
                        var acc = document.getElementsByClassName("accordion");
                        var i;

                        for (i = 0; i < acc.length; i++) {
                            acc[i].addEventListener("click", function() {
                                this.classList.toggle("active");
                                var panel = this.nextElementSibling;
                                if (panel.style.display === "block") {
                                panel.style.display = "none";
                                } else {
                                panel.style.display = "block";
                                }
                            });
                        }
                    </script>
                </div>
            </div>
            <div id="contact" class="col-lg-6 mh-100 py-4 px-5 wow animated fadeInRight">
                <div class="help-container">
                    <h4 class="mb-4 text-white">Contáctanos</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="Nombre completo" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="Correo electrónico" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="topic" required>
                                <option value="" disabled selected><< Asunto >></option>
                                <option>Asunto/Motivo 1</option>
                                <option>Asunto/Motivo 2</option>
                                <option>Asunto/Motivo 3</option>
                                <option>Asunto/Motivo 4</option>
                                <option>Asunto/Motivo 5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="3" placeholder="Mensaje" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-submit btn-primary float-right px-5 py-2 mr-3">ENVIAR</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
