# -*- coding: utf-8 -*-
<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />


<style>
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #2F80ED;
}

.about-block {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
}

.question {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #2F80ED;
}

</style>


<main id="main" aria-label="Content" tabindex="-1" class="static_pages">
    <h1 class="title">TÉRMINOS DE USO</h1>

    <hr>

</main>
