@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Regular';
  src: url('../fonts/Avenir-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Black';
  src: url('../fonts/Avenir-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('../fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sassoon Sans Std';
  src: url('../fonts/SassoonSansStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sassoon Sans Std Bold';
  src: url('../fonts/SassoonSansStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.nav-not-signedin-signup {
    display: none !important;
}

.view-signup .content header .action,
.view-signin .content header .action,
.view-util .content header .action {
    display: none !important;
}

.view-howitworks.not-signedin .content-cta .list-actions .action.action-primary {
    display: none !important;
}

.wrapper-header .branding a img {
    height: 30px !important;
    max-height: 30px !important;
}

.location-footer {
    .location-container {
        position: relative;
        background: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        .location-label {
            position: absolute;
            left: 0;
            padding: 8px 10px;
            border-right: 1px solid #ddd;
            z-index: 11;
        }

        .location-value {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 10px 5px 90px;
            z-index: 10;
            font-size: .75em;
        }
    }
}

.xmodule_display.xmodule_CapaModule div.problem div p.answer::before {
    /*display: inline!important;*/
    content: "Respuesta: " !important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message {
    font-size: 0px !important;
    color: transparent !important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message:after {
    content: "Las respuestas se muestran en el ejercicio";
    color: #5e5e5e !important;
    font-size: 16px !important;
}

button.save.problem-action-btn {
    display: none !important;
}

li.course-item[data-course-key^="course-v1:cmm+SYSELEAR"] {
    //Basica Elearning
    background-color: #fbb978 !important;
}

li.course-item[data-course-key^="course-v1:cmm+SYSBLEAR"] {
    //Basica Bilearning
    background-color: #d0fcf4 !important;
}

li.course-item[data-course-key^="course-v1:cmm+SYSMEDIA"] {
    //Media Elearning
    background-color: #f27cfb !important;
}

li.course-item[data-course-key^="course-v1:cmm+SYSBEDIA"] {
    //Media Bilearning
    background-color: #c463f8 !important;
}

//Fracciones
.respfrac {
    left: 100px;
    z-index: 99;
    position: absolute;
    width: 30px;
    height: 24px;
    top: 3px;
    background-repeat: no-repeat;
}

.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 10px;
    font-size: 14px;
}

.fraction>span {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fraction span.fdn {}

.fraction span.bar {
    background-color: #737373;
    height: 1px;
    width: 100%;
    margin: 1px;
    margin-bottom: 2px;
    overflow: hidden;
}

.fraction_grande {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
}

.fraction_grande>span {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 24px;
    font-weight: bold;
}

.fraction_grande span.fdn {}

.fraction_grande span.bar {
    background-color: #737373;
    height: 1px;
    width: 100%;
    margin: 1px;
    margin-bottom: 2px;
    overflow: hidden;
}


//banners practica y otros
/* Estilos generales para el banner */
.sysbanner {
    position: relative;
    display: flex;
    align-items: center;
}


//VERDE
/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.verde.open .icon-box {
    width: 200px;
    height: 60px;
    background-color: #009760;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/banner_symbolbrain.png);
    background-repeat: no-repeat;
    background-size: auto 65%;
    background-position: 20px center;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.verde.open hr {
    flex-grow: 1;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 50px solid #dfdfdf;
}

/* Estilos específicos para el color "verde" en el caso "close" */
.sysbanner.verde.finish hr {
    flex-grow: 1;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 18px solid #009760;
}


//NARANJA
/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.naranjo.open .icon-box {
    width: 300px;
    height: 60px;
    background-color: #fa9702e5;
    background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/banner_symbolbrain.png);
    background-repeat: no-repeat;
    background-size: auto 65%;
    background-position: 20px center;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

/* Estilos específicos para el color "verde" en el caso "open" */
.sysbanner.naranjo.open hr {
    flex-grow: 1;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 50px solid #dfdfdf;
}

/* Estilos específicos para el color "verde" en el caso "close" */
.sysbanner.naranjo.finish hr {
    flex-grow: 1;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 18px solid #fa9702e5;
}


//banner sumo primero
.sprbanner {
  position: relative;
  display: flex;
  align-items: center;
}

.sprbanner hr {
  background-color: #a9edd4;
  flex-grow: 1;
  border-top: 28px solid #a9edd4;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 28px solid #a9edd4;
  border-radius: 16px;
}

.sprbanner .banner-text {
  font-family: "Sassoon Sans Std Bold";
  font-size: 22px;
    font-weight: bold;
    color: white;
    margin-left: 85px;
    position: absolute;
   -webkit-text-stroke-width: 1.64px;
  -webkit-text-stroke-color: #51b18f;
}


.sprbanner .icon-box {
  width: 85px;
  height: 85px;
  background-color: #51b18f;
  background-image: url(https://static.sumaysigue.uchile.cl/cmmeduformacion/produccion/assets/img/banner_symbol_libreta.png?=90);
  background-repeat: no-repeat;
  background-size: auto 65%;
  background-position: 20px center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  position: absolute;
  z-index: 2;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: white;
  font-weight: bold;
  border-radius: 50%;
}


////Tabla Suma y Sigue
.tableSYS {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  min-width: 350px !important;
}

.tableSYS tr th,
.tableSYS tr td {
  border-right: 2px solid #bbb !important;
  border-bottom: 1px solid #bbb !important;
  border-top: 1px solid #bbb !important;
  padding: 12px !important;
}

.tableSYS tr th:first-child,
.tableSYS tr td:first-child {
  border-left: 2px solid #bbb !important;
}


.tableSYS thead tr:first-child th,
.tableSYS thead tr:first-child td {
  border-top: 2px solid #bbb !important;
}

.tableSYS tr:last-child th,
.tableSYS tr:last-child td {
  border-bottom: 2px solid #bbb !important;
}

/*Bordes redondeados superiores*/

.tableSYS thead tr:first-child th:first-child,
.tableSYS thead tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}

.tableSYS thead tr:first-child th:last-child,
.tableSYS thead tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}

/*Bordes redondeados Inferiores*/

.tableSYS tbody tr:last-child th:first-child,
.tableSYS tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px !important;
}

.tableSYS tbody tr:last-child th:last-child,
.tableSYS tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px !important;
}

/* Caso que no exista encabezado */
.tableSYS.nothead tr:first-child th,
.tableSYS.nothead tr:first-child td {
  border-top: 2px solid #bbb !important;
}
.tableSYS.nothead tbody tr:first-child th:first-child,
.tableSYS.nothead tbody tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}
.tableSYS.nothead tbody tr:first-child th:last-child,
.tableSYS.nothead tbody tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}

////Tabla Sumo Primero

.tableSPrime {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  min-width: 350px !important;
  position: relative;
}

.tableSPrime-wrapper {
  border: 3.5px solid #f58220 !important; 
  z-index: 1;
  border-radius: 16px; /* Esquinas redondeadas del borde */
  padding: 0; /* Sin padding adicional */
}

.tableSPrime tr th,
.tableSPrime tr td {
  border-right: 2px solid #bbb !important; 
  border-bottom: 1px solid #bbb !important;
  border-top: 2px solid #bbb !important;
  padding: 12px !important;
  text-align: center; /* Centra el contenido */
}

.tableSPrime tr th:first-child {
  border-left: 3.5px solid #0281cc !important;
  border-color: #0281cc !important;
}

.tableSPrime tr td:first-child {
  border-left: 3.5px solid #f58220 !important;
  z-index: 1;
}

.tableSPrime thead tr:first-child th,
.tableSPrime thead tr:first-child td {
  border-top: 2px solid #0281cc !important;
  background-color: #0281cc !important;
  color: white !important; /* El texto del encabezado en blanco */
  font-weight: bold !important; /* Texto en negrita */
}
  
.tableSPrime tr th:last-child {
  border-right: 3.5px solid #0281cc !important;
}

  
.tableSPrime tr td:last-child {
  border-right: 3.5px solid #f58220 !important;
  z-index: 1;
}


.tableSPrime tr:last-child th {
  border-bottom: 3.5px solid #0281cc !important;
}
.tableSPrime tr:last-child td {
  border-bottom: 3.5px solid #f58220 !important;
  z-index: 1;
}

/* Bordes redondeados superiores */
.tableSPrime thead tr:first-child th:first-child,
.tableSPrime thead tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}

.tableSPrime thead tr:first-child th:last-child,
.tableSPrime thead tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}

/* borde superior para primera fila del body no visible*/
.tableSPrime tbody tr:first-child td {
  border-top: 0px !important;
}

/* Bordes redondeados inferiores */
.tableSPrime tbody tr:last-child th:first-child,
.tableSPrime tbody tr:last-child td:first-child {
  border-bottom-left-radius: 16px !important;
}

.tableSPrime tbody tr:last-child th:last-child,
.tableSPrime tbody tr:last-child td:last-child {
  border-bottom-right-radius: 16px !important;
}

/* Caso que no exista encabezado */
.tableSPrime.nothead tr:first-child th,
.tableSPrime.nothead tr:first-child td {
  border-top: 3.5px solid #f58220 !important;
  z-index: 1;
}

.tableSPrime.nothead tbody tr:first-child th:first-child,
.tableSPrime.nothead tbody tr:first-child td:first-child {
  border-top-left-radius: 16px !important;
}

.tableSPrime.nothead tbody tr:first-child th:last-child,
.tableSPrime.nothead tbody tr:first-child td:last-child {
  border-top-right-radius: 16px !important;
}


//Recapitulemos
.TitleRecapi:before {
  content: "";
  display: block;
  width: 12px;
  height: 62px;
  float: left;
  margin: 0 6px 0 0;


}

.TitleRecapi {
  font-family: 'Open Sans';
  height: 64px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: middle;
  display: ruby-base-container;
}

.TitleRecapi.media {
  color: #612871;
}

.TitleRecapi.media:before {
  background-color: #612871;
}


.TitleRecapi.basica {
  color: #dc0000;
}

.TitleRecapi.basica:before {
  background-color: #dc0000;
}

//Banner titulo Sumo primero

.banner-sprime-title {
	display: flex;
  align-items: center;
  background-color: #ea91bd;
  border-radius: 20px;
  padding: 16px 24px;
  width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.banner-sprime-animal {
  width: 125px;
  height: auto;
  position: absolute;
  bottom: 0px;
}

.banner-sprime-text {
  font-family: "Sassoon Sans Std Bold";
  font-size: 24px;
  color: white;
  font-weight: bold;
  padding-left: 114px;
  padding-right: 32px;
  -webkit-text-stroke-width: 1.64px;
  -webkit-text-stroke-color: #dc4b91;
}

.dashedline-SPrime {
  border: none;
  border-top: 4px dotted; 
  width: 50%; 
  margin: 0 auto;
  height: 0;
  border-color: #871980!important;
}
//Recuadros

.recuadroSYS {
  background-color: #f0f0f1;
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 16px;
  padding: 30px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.recuadroSYS.celeste {
  background-color: #e4e9ff;
}

.recuadroSYS.rosado {
  background-color: #f7e5eb;
}

.recuadroSYS.verde {
  background-color: #8df0ca;
}

.recuadroSPrime {
  border: 3.5px dotted #cccccc;
  width: fit-content;
  margin: auto;
  padding: 30px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.sprime.responde {
  background-image: url(https://static.sumaysigue.uchile.cl/Sumo1ro/assets/img/hormiga.png);
  width: 450px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 132px;
  margin-bottom: 50px;
}