.nav-not-signedin-signup {
    display: none !important;
}

.view-signup .content header .action,
.view-signin .content header .action,
.view-util .content header .action {
    display: none !important;
}

.view-howitworks.not-signedin .content-cta .list-actions .action.action-primary {
    display: none !important;
}

.wrapper-header .branding a img {
    height: 65px !important;
    max-height: 65px !important;
}

.location-footer {
    .location-container {
        position: relative;
        background: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .location-label {
            position: absolute;
            left: 0;
            padding: 8px 10px;
            border-right: 1px solid #ddd;
            z-index: 11;
        }
        .location-value {
            box-sizing: border-box;
            width: 100%;
            padding: 5px 10px 5px 90px;
            z-index: 10;
            font-size: .75em;
        }
    }
}

.xmodule_display.xmodule_CapaModule div.problem div p.answer::before {
	/*display: inline!important;*/
    content: "Respuesta: "!important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message {
	font-size: 0px!important;
	color: transparent!important;
}

.xmodule_display.xmodule_CapaModule div.problem .notification-show-answer .notification-message:after {
	content: "Las respuestas se muestran en el ejercicio";
	color: #5e5e5e!important;
	font-size:16px!important;
}

button.save.problem-action-btn {
	display: none!important;
}