<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type

from django.utils import timezone
now = timezone.now()
%>
<%page args="course, categ" expression_filter="h"/>

<div id="${course.id}" class="my-sm-3 col-lg-6 col-xl-4 h-100 filter ${categ['name']}">
    <a class="course-link" href="${reverse('about_course', args=[text_type(course.id)])}">
        <div class="card h-100">
            <div class="card-header">
                ${course.short_description}
            </div>
            <div class="card-category">
              %if categ['name'] == 'cmm-fpd':
                  Formación Profesional Docente
              %elif categ['name'] == 'cmm-fi':
                  Formación Inicial
              %endif
            </div>
            <div class="card-body">
                <h5 class="card-title text-primary">${course.display_name_with_default}</h5>
            </div>
            <div class="card-image">
                <img class="card-img-top" src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}"></div>
            <div class="card-footer">
                <%
                if course.start is not None:
                    course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
                else:
                    course_date_string = ''
                %>
            % if course.end is not None and now is not None and course.end < now:
            <span class="text-muted" aria-hidden="true"><strong>Curso Finalizado</strong></span>
            % elif course.advertised_start is not None:
            <span class="text-muted" aria-hidden="true"><strong>Inicia </strong> ${course.advertised_start}</span>
            % else:
            <div class="course-date localized_datetime text-muted" aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}" data-string="${_(" Inicia: {date} ")}"></div>
            % endif
            </div>
        </div>
    </a>
</div>

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>