## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container wow animated fadeInUp">
      <div class="row justify-content-center">
          <div class="col-md-12 col-center ml-auto mb-3 text-center">
              <ul class="nav justify-content-center">
                <li class="nav-item mx-3 my-auto">
                    <a class="nav-link" href="https://ingenieria.uchile.cl/" target="_blank">
                        <img class="mb-3" src="${static.url('cmm-openedx/images/logo_fcfm.png')}" alt="" style="height: 80px;">
                    </a>
                </li>
                <li class="nav-item mx-3 my-auto">
                    <a class="nav-link" href="http://cmmedu.uchile.cl/" target="_blank">
                        <img class="mb-3" src="${static.url('cmm-openedx/images/logo_cmmedu.png')}" alt="" style="height: 70px;">
                    </a>
                </li>
                <li class="nav-item mx-3 my-auto">
                    <a class="nav-link" href="https://eol.uchile.cl/" target="_blank">
                        <img class="" src="${static.url('cmm-openedx/images/logo_eol.png')}" alt="" style="height: 50px;">
                    </a>
                </li>
                <li class="nav-item mx-3 my-auto">
                    <a class="nav-link" href="https://www.mineduc.cl/" target="_blank">
                        <img class="mb-3" src="${static.url('cmm-openedx/images/logo_mineduc.png')}" alt="" style="height: 70px;">
                    </a>
                </li>
              </ul>
          </div>
          <!--
          <div class="col-md-12 col-center ml-auto mt-3 text-center">
              <ul class="nav justify-content-center">
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-facebook-square fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-instagram fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-twitter-square fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-linkedin fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fas fa-envelope-square fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
              </ul>
          </div>
        -->

      </div>
      <div class="small text-center text-muted">Copyright &copy; 2024 - Laboratorio de Educación Centro de Modelamiento Matemático Universidad de Chile<br>Todos los derechos reservados excepto donde se indica. EdX, Open edX y sus respectivos logos son marcas comerciales o marcas registradas de edX Inc.
      </br><a href="https://www.uchile.cl/portal/informacion-general/174996/politica-de-privacidad-de-la-informacion-y-datos-personales" target="_blank">Política de privacidad</a>
    </div>
    </div>
</footer>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif