## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container wow animated fadeInUp">
      <div class="row justify-content-center">
          <div class="col-md-12 col-center ml-auto mt-1 text-center">
              <img class="logo" src="${static.url('cmm-openedx/images/logo.png')}" alt="">
          </div>
          <div class="col-md-12 col-center ml-auto mt-3 text-center">
              <ul class="nav justify-content-center">
                  <li class="nav-item">
                      <a class="nav-link" href="https://cmmeduformacion.uchile.cl/" target="_blank">EOL</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="http://www.uchile.cl/" target="_blank">Universidad de Chile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="http://www.cmm.uchile.cl/" target="_blank">CMM</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-12 col-center ml-auto mt-3 text-center">
              <ul class="nav justify-content-center">
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-facebook-square fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-instagram fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-twitter-square fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fab fa-linkedin fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
                  <li class="nav-item px-3">
                      <a href="#">
                          <i class="fas fa-envelope-square fa-3x mb-3 text-muted"></i>
                      </a>
                  </li>
              </ul>
          </div>

      </div>
      <div class="small text-center text-muted">Copyright &copy; 2019 - Laboratorio de Educación Centro de Modelamiento Matemático Universidad de Chile<br>All rights reserved except where noted. edX, Open edX and their respective logos are registered trademarks of edX Inc.</div>
    </div>
</footer>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
