<%page expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>
%if unit_title:
  <style>
      div.course-image img {
        max-height: 100px;
        margin-bottom: 2em;
      }
  </style>
  <h2 class="hd hd-2 unit-title" style="display:none;">${unit_title}</h2>
  <div class="course-image">
    <img src="/static/course-image.png" alt="CMM Edu">
  </div>
% endif

##% if show_bookmark_button:
##    <%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>
##% endif

<div class="vert-mod">
% for idx, item in enumerate(items):
  % if item['content']:
    <div class="vert vert-${idx}" data-id="${item['id']}">
        ${HTML(item['content'])}
    </div>
  %endif
% endfor
</div>